

// More Button
.more-action {
    display: inline-flex;
    align-items: center;
    margin: -1.5px;
    span{
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 1px solid #6d7497;
        margin: 1.5px;
    }
    &.more-align-h{
        flex-flow: row;
    }
}