//Pagination
.pagination-area ul {
    margin: 17px -3px -3px -3px;
    @extend .content-center;

    li {
        margin: 3px;
        &:last-child a {
            margin-right: 0;
        }

        a {
            width: 40px;
            height: 40px;
            border: 1px solid $border-normal;
            background: #fff;
            font-size: 14px;
            transition: $transition-base;
            border-radius: 2px;
            cursor: pointer;
            @extend .content-center;
            @extend .color-dark;
            &:hover{
                @extend .border-primary;
                @extend .color-primary;
            }
        }

        &.active {
            a {
                @extend .bg-primary;
                color: white;
                border: 1px solid $border-color;
            }
        }
    }
}