.search-wrapper {
  position: relative;
  display: inline-grid;
  margin-right: 3px;
}

.search_module {
  position: relative;

  .icon-left {
    position: absolute;
    left: remy(10px);
    top: 50%;
    transform: translateY(-50%);
    @include rfs(18);
    transition: $transition-base;
    z-index: 10;
  }

  .search_area {
    form {
      .input-group {
        margin: 0;

        .form-control {
          transition: $transition-base;
          height: 51px;

          &::placeholder {
            transition: $transition-base;
          }
        }
      }
    }
  }

  &.active {
    & + .search-categories {
      visibility: visible;
      opacity: 1;
    }

    .search_area {
      form .input-group .form-control {
        border-radius: 3px 3px 0 0;
      }
    }
  }
}

.search-categories {
  position: absolute;
  min-width: 250px;
  left: 0;
  top: remy(53px);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: $transition-base;
  box-shadow: 0 3px 30px rgba($light,.20);

  ul {
    padding: 10px 20px;
    margin: 0;

    li {
      a {
        display: block;
        @include rfs(15);
        padding: 5px 0;

        span {
          width: remy(34px);
          height: remy(34px);
          border-radius: remy(300px);
          @extend .inline-content-center;
          margin-right: remy(8px);
        }
      }
    }
  }
}

.looking-field {
  width: 140px;
  text-align: left;
}

.search-field,
.address-field {
  width: 318px;
  text-align: left;
}

.search-field {
  margin-right: 7px;
}

.search-bar-wrapper {
  position: relative;
  padding-right: 0;

  .search_module {
    .search_trigger {
      cursor: pointer;
      font-size: 18px;
    }

    .search_area_inner {
      position: absolute;
      right: 60px;
      opacity: 0;
      visibility: hidden;
      padding: 0 20px;
      top: calc(100% - 37px);
      z-index: 2;
      transition: 0.3s ease;
      border-radius: 3px;
      width: 0;

      .looking-field {
        width: 100%;
        border: 0;
      }

      form {
        .input-group {
          display: flex;
          align-items: center;

          .icon-left {
            padding-top: 7px;
            display: none;
          }

          input {
            padding: 0 0 0 10px;
          }
        }
      }
    }
  }
}

.search-bar-wrapper .search_module .search_area_inner.active {
  opacity: 1;
  visibility: visible;
  width: 300px;

  form .input-group .icon-left {
    display: block;
  }
}

.nav-right-side-content {
  display: flex;
  align-items: center;
}

// Event Search
.event-search {
  .search_module {
    input {
      &:focus {
        outline: none;
      }
    }
  }
  @include e(item) {
    font-size: 14px;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    background-color: transparent;
    @extend .color-light;
    &:hover {
      background-color: transparent;
      @extend .color-primary;
    }
    i {
      font-size: 18px;
    }
    i,
    svg,
    img {
      margin-right: 8px;
    }
  }
}
