//banner area
.adv-filter {
    height: 650px;
    display: flex;
    align-items: center;
}

.adv-filter {
    @include e(header) {
        padding: 0 0 36px 0;

        .section-title {
            margin-bottom: 0;
            text-align: left;
        }

        h1{
            font-size: 40px;
            font-weight: 600;
            color: $dark;
            text-align: center;
        }
        p{
            font-size: 18px;
            color: $gray;
            text-align: center;
        }
    }
    .adv-filter-content__tab{
        ul{
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            .nav-link{
                border: 1px solid $border-color;
                color: $gray;
                i{
                    @extend .color-secondary;
                    display: inline-block;
                    margin-right: 3px;
                }
            }
            .nav-link.active{
                @extend .bg-secondary;
                border-color: $secondary;
                color: #fff;
                i{
                    color: #fff !important;
                }
            }
            .nav-item{
                &:first-child{
                    a{
                        border-radius: 3px 0 0 3px;
                    }
                }
                &:last-child{
                    a{
                        border-radius: 0 3px 3px 0;
                    }
                }
            }
        }
    }
    .adv-search-form{
        display: flex;
        align-items: center;
        justify-content: center;
        .adv-input-text{
            flex: 1.5;
        }
        .adv-input-location,
        .adv-input-date{
            flex: 1;
            position: relative;
        }
        .form-group{
            margin-right: -1px;
            input{
                width: 100%;
                display: block;
                height: 58px;
                padding: 0 25px;
                border: 1px solid #f2f2f2;
                outline: 0;
            }
            .btn{
                height: 58px;
                padding-left: 30px;
                padding-right: 30px;
                font-weight: 500;
                border-radius: 0 6px 6px 0;
            }
            &.adv-input-text{
                input{
                    border-radius: 6px 0 0 6px;
                }
            }
        }
        .adv-input-location{
            &:before{
                content: '\f041';
                font-family: "Line Awesome Free";
                font-weight: 900;
                position: absolute;
                left: 23px;
                top: 50%;
                transform: translateY(-50%);
            }
            input{
                padding-left: 45px;
            }
        }
        .adv-input-date{
            &:before{
                content: '\f274';
                font-family: "Line Awesome Free";
                font-weight: 900;
                position: absolute;
                left: 23px;
                top: 50%;
                transform: translateY(-50%);
            }
            input{
                padding-left: 45px;
            }
        }
    }
}