// categories Carousel
.categories-slider {
   position: relative;
   padding: 100px 0;

   h2 {
      font-weight: 700;
      margin-bottom: 42px;
   }

   .owl-nav {
      position: absolute;
      top: -100px;
      right: 0;
      display: flex;
      align-items: center;
      margin-top: 32px;

      button {

         i {
            margin-left: 10px;
            width: 35px;
            height: 35px;
            line-height: 35px;
            border-radius: 100%;
            transition: $transition-base;

            &:hover {
               border: 1px solid transparent;
            }
         }

         &:focus {
            outline: none;
            box-shadow: none;
            border: 0;
         }
      }
   }
}

.categories-carousel-inner {
   position: relative;
   padding: 40px;
   display: flex;
   justify-content: center;

   .single-categories-carousel {
      h6 {
         font-weight: 600;
      }

      .categories-img {
         width: 80px;
         padding: 20px;
         margin-top: 20px;
         border-radius: 100%;

         .cat-icon {
            font-size: 40px;
            color: #1136F1;
            font-weight: bold;
        }

      }

      .categories-btn {
         position: absolute;
         bottom: 0;
         right: 0;
         padding: 28px 15px 12px 28px;
         border-top-left-radius: 100%;
         transition: $transition-base;
         visibility: hidden;
         opacity: 0;

         &:hover {
            text-decoration: none;
         }
      }
   }

   &:hover {
      .categories-btn {
         visibility: visible;
         opacity: 1;
      }
   }
}

/* category card */
.category-card{
   @include e(wrapper){
      position: relative;
      border: 1px solid #f2f2f2;
      text-align: center;
      border-radius: 3px;
      padding: 35px;
      &:before{
         position: absolute;
         content: '';
         border-right: 30px solid transparent;
         border-left: 30px solid transparent;
         border-bottom: 70px solid red;
      }
      i{
         @extend .color-primary;
         font-size: 50px;
      }
      a{
         color: $dark;
         font-size: 16px;
         font-weight: 500;
      }
   }
   @include e(img){
      margin-bottom: 15px;
   }
   @include e(total-events){
      font-size: 14px;
      color: $light;
      display: block;
      margin-top: 5px;
   }
}