.menu-bar {

  @include md {
    display: flex;
    align-items: center;
  }
  .site-identify {
    margin:9px 0;
    @include md{
      order: 2;
      margin-right: 0;
      padding-right: 0;
    }
    @include xs{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      padding-top:10px;
      margin:0;
    }
    &+.navbar-toggler{
      @include xs{
        order:3;
      }
    }
  }
  .dashboard-off-canvas-main{
    @include xs{
      margin: 10px 0;
    }
  }

  .navbar {
    padding: 0 15px;

    .navbar-nav {
      flex-wrap: wrap;
      position: relative;

      @include md {
        margin-left: 0;
        >li.menu-item {
          .sub-menu {
            position: static;
            margin: 0;
            visibility: visible;
            opacity: 1;
            border: 0 none;
            box-shadow: none;
            display: none;
          }
        }
      }

      .nav-item {
        .dropdown-menu {
          display: block;
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s ease;
          margin-right: 30px;
        }

        &:hover {
          .dropdown-menu {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    .ml-auto {
      .nav-item {
        .dropdown-menu {
          position: absolute;
          left: -100%;
          right: 0;

          .dropdown-sub-menu .sub-menu {
            left: -100%;
          }
        }
      }
    }

    .navbar-brand {
      padding-top: 21px;
      padding-bottom: 21px;
      margin-right: 30px;
      height: 100%;
      @include xl{
        margin-right: 15px;
      }
    }

    ul {
      li {
        transition: $transition-base;

        a.nav-link {
          margin-right: 13px;
          @include rfs(15);
          font-weight: 600;
        }
      }
    }

    .menu-doctor-btn {
      margin-left: 10px;

      i {
        margin-right: 8px;
      }
    }

    .menu-doctor-plus {
      display: none;
      padding: 0;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      line-height: 40px;

      i {
        margin-right: 0;
      }
    }
  }

  .mobile-menu {
    display: none;
  }

  @media (min-width: 992px) {
    .site-identify {
      margin-right: 40px;
    }
  }

  .site-description {
    margin-bottom: 0;
  }
}


// Main Menu
.main-menu .menu {
  margin-right: 20px;
  padding: 0 15px;
  font-family: $poppins;
  @include xl{
    margin-right: 15px;
  }
  @include md{
    padding: 15px 25px;
  }
  >.menu-item {
    display: inline-block;
    position: relative;

    @include md{
      display: block;;
    }

    &:not(:last-child) {
      margin-right: 30px;

      @include xl{
        margin-right: 15px;
      }
      @include md {
        margin-right: 0;
      }
    }

    &.current-menu-item,
    &.current-menu-parent,
    &.current-menu-ancestor {
      >a {
        @extend .color-primary;
      }
    }

    &.menu-item-has-children>a:after {
      content: '\f107';
      font-family: 'Line Awesome Free';
      font-size: 0.66667rem;
      padding-left: 0;
      right: -8px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 900;

      @include md {
        top: 19px;
        right: 0;
        transform: translate(-50%, -50%);

      }
    }

    &.menu-item-has-children .menu-item-has-children{
      >a:after{
        content: '\f105';
        font-family: 'Line Awesome Free';
        font-size: 0.66667rem;
        padding-left: 0;
        right: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 900;
      }
    }

    a {
      display: block;
      padding: 1.85rem 8px 1.84rem 0px;
      @include ofs(14px, null, 500);
      text-transform: capitalize;
      @extend .transition;
      @extend .color-dark;

      @include md{
        padding: 10px 0;
      }
      &:hover {
        @extend .color-primary;
      }
    }

    &:hover {
      >.sub-menu {
        top: 80px;
        opacity: 1;
        visibility: visible;

        @include md {
          visibility: hidden;
          opacity: 0;
        }
      }
    }

    &.active {
      >.sub-menu {
        visibility: visible;
        top: 40px;
        opacity: 1;
      }
    }

    &.sub-menu-oppened {
      >a {
        &:after {
          content: "\f106";
        }
      }
    }
  }

  .sub-menu {
    list-style: none;
    position: absolute;
    left: 0;
    top: 70px;
    display: block;
    min-width: 12.2rem;
    border: 0;
    border-radius: 0;
    padding: 15px 0 15px 20px;
    margin: 0;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    border-top: 1px solid $primary;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    @extend .color-dark;

    @include md{
      padding: 0 15px;
    }
    .menu-item {
      position: relative;
      display: block;

      &.current-menu-item,
      &.current-menu-parent {
        >a {
          @extend .color-primary;
        }
      }

      &:hover {
        .sub-menu {
          opacity: 1;
          visibility: visible;
        }
      }

      >a {
        @include ofs(14px, null, 400);
        padding: 8px 20px 8px 0;
        width: 100%;
        display: block;
        @extend .color-gray;

        @include md {
          padding: 5px 0px 3px 0px;
        }

        &:hover {
          @extend .color-primary;
        }
      }
    }

    .sub-menu {
      left: 100%;
      top: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
}

.main-menu{
  .btn-create{
    padding: 0.0313rem 1.135rem;
    @include ofs(13px, null, 500);
  }
}

.dropdown-menu {
  border: 0;
  border-radius: 0;
  padding: 15px 0;

  .dropdown-item {
    position: relative;
    @include rfs(14);
    padding: 5px 20px 5px 0;

    i {
      margin-left: 10px;
      @include ofs(14px, null, null);
    }

    &:hover {
      .dropdown-menu {
        visibility: visible;
        opacity: 1;
      }
    }

    i {
      @include rfs(14);
      margin-right: 5px;
    }
  }
  a{
    padding: 5px 20px !important;
    @include ofs(15px, null, 400);
    @extend .color-gray;
    &:hover{
        @extend .color-primary;
        @extend .bg-lighter;
    }
  }
}

// menubar lg btn
.menubar-lg-btn {
  white-space: nowrap;
  text-align: right;
  margin-left: 20px;
}

.btn-outline-secondary {
  padding-left: 0.3rem 1.33rem;
}

.btn-outline-danger {
  padding-left: 0.3rem 1.33rem;
}

.dropdown-sub-menu {
  position: relative;

  .sub-menu {
    position: absolute;
    left: 98%;
    top: 0;
    padding: 20px 15px;
    min-width: 200px;
    visibility: hidden;
    opacity: 0;
    transition: $transition-base;

    a {
      display: block;
      font-weight: 400;
      margin-bottom: 10px;
      @include ofs(14px, null, null);

      &:last-child {
        margin-bottom: 0;
      }
    }

    span {
      position: relative;

      &:before {
        position: absolute;
        content: "";
        left: -25px;
        top: -15px;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
      }
    }
  }

  &:hover {
    .sub-menu {
      visibility: visible;
      opacity: 1;
    }
  }
}

.menubar-btn {
  display: none;
}

/*=====  3.4: login Area ======*/

.login-area {
  &__item {
    padding: 5px 29px;
    @extend .color-gray;
    text-transform: capitalize;
    @include ofs(14px, null, null);

    &:hover {
      @extend .color-primary;
    }
  }

  &__menu {
    @extend .shadow1;
    @extend .transition;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid $primary;
    margin-top: 27px;
  }
}

.login-area {
  .dropdown-toggle i {
    color: #aab1d3;
  }
}

/*=====  3.7: Search ======*/
.search {
  input {
    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $text-light;
      font-size: 14px;
    }
  }

  &__item {
    @include ofs(15px, null, null);
    display: flex;
    align-items: center;
    @extend .color-gray;
    padding: 7px 30px;

    &:active {
      color: white;
    }

    &:hover {
      @extend .color-primary;

      i {
        @extend .color-primary;
      }

    }
  }
}

/*=====  3.8: Search dropdown ======*/

.search-wrapper .search-categories {
  border-radius: 0 0 4px 4px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 40px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  border-radius: 3px;
  @extend .transition;
  background: white;
  padding: 14px 0;
  @extend .shadow3;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid $primary;
  margin-top: 12px;

  &.active {
    visibility: visible;
    opacity: 1;
    width: 100%;
    transition: .50s ease-in-out;
  }
}

//offcanvas
.offcanvas-dashboard {
  opacity: 0;
  visibility: hidden;
  &.c-offcanvas.is-open{
    opacity: 1;
  visibility: visible;
  }
}

//top bar
@media (min-width: 992px) {
  .menu-bar + section,
  .menu-bar + div {
    margin-top: 80px;
  }
}

@media (max-width: 991.98px) {
  .menu-bar + section,
  .menu-bar + div {
    margin-top: 74px;
  }
}

@media (max-width: 767.98px) {
  .menu-bar + section,
  .menu-bar + div {
    margin-top: 75px;
  }
}

@media (max-width: 575.98px) {
  .menu-bar + section,
  .menu-bar + div {
    margin-top: 69px;
  }
}

.menu-bar.site_title_tag--wrapper + section {
  margin-top: 101px;
}

@media (max-width: 1199.98px) {
  .menu-bar.site_title_tag--wrapper + section {
    margin-top: 95px;
  }
}

@media (max-width: 991.98px) {
  .menu-bar.site_title_tag--wrapper + section {
    margin-top: 85px;
  }
}

@media (max-width: 575.98px) {
  .menu-bar.site_title_tag--wrapper + section {
    margin-top: 81px;
  }
}

@media (min-width: 601px) {
  .admin-bar .fixed-top {
    top: 46px;
  }
}

@media (min-width: 782px) {
  .admin-bar .fixed-top {
    top: 32px;
  }
}

@media (max-width: 600px) {
  .admin-bar .fixed-top.headroom--top {
    top: 46px;
  }
}

// .atbd_content_active .menu-bar.menu-area-sticky + section {
//   margin-top: 72px;
// }

// @media (min-width: 576px) {
//   .atbd_content_active .menu-bar.menu-area-sticky + section {
//     margin-top: 70px;
//   }
// }

// @media (min-width: 992px) {
//   .atbd_content_active .menu-bar.menu-area-sticky + section {
//     margin-top: 82px;
//   }
// }



//menu sticky
// .header-top-area {
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   z-index: 999;
//   transition: all 0.4s ease-out;
// }

// .menu-bg {
//   transition: all 0.3s ease-out;
//   background: #fff;
//   box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
//   background: #fff;
//   border: none;
// }

// .menu-bg .logo {
//   padding-top: 16px;
//   transition: all 0.3s ease-out;
// }

// .menu-bg .logo a p {
//   color: #000;
// }
/*sticky header*/
.headroom--pinned {
  visibility: visible;
  opacity: 1;
}

.headroom--unpinned {
  visibility: hidden;
  opacity: 0;
}

.headroom {
  will-change: transform;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  -o-transition: transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.menu--transparent.headroom--not-top {
  background: #ffffff !important;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.07);
}

.menu--transparent.headroom--not-top.menu-area.menu--light .logo-white {
  display: none;
}

.menu--transparent.headroom--not-top.menu-area.menu--light .logo-dark {
  display: block;
}

.menu-area.menu--dark .logo-white,
.menu-area.menu--light .logo-dark {
  display: none;
}

.menu--transparent.headroom--not-top.menu-area.menu--light .author__access_area ul li .access-link,
.menu--transparent.headroom--not-top .cart_module span.la,
.menu--transparent.headroom--not-top.menu-area.menu--light .navbar-toggler .icon-menu,
.menu--transparent.headroom--not-top.menu-area.menu--light .mainmenu__menu .navbar-nav > li > a {
  color: #272b41;
}

.menu--transparent.headroom--not-top.menu-area.menu--light .author__access_area ul li > span {
  color: rgba(39, 43, 65, 0.5);
}

.menu--transparent.headroom--not-top.menu-area.menu--light .top-menu-area .logo-top p {
  color: rgba(39, 43, 65, 0.7);
}

.menu--transparent.headroom--not-top.menu-area.menu--light .top-menu-area .logo-top .logo-white {
  display: none;
}

.menu--transparent.headroom--not-top.menu-area.menu--light .top-menu-area .logo-top .logo-dark {
  display: block;
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}