@import "../mixins/functions";
@import "../../../assets/vendor_assets/css/bootstrap/config.bs.scss";
@import "../general/all_colors.scss";
@import "../general/utility-classes.scss";

//Elementor

$h1-font-size-e: 48px;
$h2-font-size-e: 30px;
$h3-font-size-e: 24px; //22px
$h4-font-size-e: 22px; //20px
$h5-font-size-e: 20px; //18px
$h6-font-size-e: 18px; //16px
$headings-margin-bottom-e: 0;
$headings-font-weight-e: 600;
$headings-color-e: $dark;
$headings-line-height-e:1.2;

html {
  height: 100%;
  margin: 0;
  padding: 0;
  @include rfs(16);
}

body {
  height: 100%;
  padding: 0;
}

p {
  @include rfs(16);
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  &:hover {
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clear {
  clear: both;
}

a.theme-back-to-top {
  @extend .bg-primary;
  color: #ffffff;
  display: block;
  position: fixed;
  z-index: 5;
  bottom: -50px;
  right: 20px;
  height: 40px;
  width: 40px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  transition: all 0.5s cubic-bezier(0, 0, 0.15, 1.88);

  i {
    display: inline-block;
    transition: all 0.5s ease-out;
    font-weight: 900;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &.tbtt-visible {
    bottom: 20px;
  }
}

//WordPress Default
.section-title {
  margin-bottom: 50px;
  text-align: center;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    @extend .color-dark;
  }
  @include m(two){
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    p{
      color: $gray;
      margin: 8px 0 0;
    }
    .view-all{
      @extend .color-primary;
      background: #fff;
      line-height: 40px;
      border-radius: 3px;
      border: 1px solid $border-color;
      padding: 0 20px;
      font-size: 14px;
      font-weight: 500;
    }
  }
  p{
    margin-top: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

//Elementary Default Overwrite


h1,
.h1 {
  &.elementor-heading-title {
  @include font-size($h1-font-size-e);
  line-height: $headings-line-height-e;
  color: $headings-color-e;
  font-weight: 700;
  }
}

h2,
.h2 {
  &.elementor-heading-title {
  @include font-size($h2-font-size-e);
  line-height: $headings-line-height-e;
  color: $headings-color-e;
  font-weight: $headings-font-weight-e;
  }
}

h3,
.h3 {
  &.elementor-heading-title {
  @include font-size($h3-font-size-e);
  line-height: $headings-line-height-e;
  color: $headings-color-e;
  font-weight: $headings-font-weight-e;
  }
}

h4,
.h4 {
  &.elementor-heading-title {
  @include font-size($h4-font-size-e);
  line-height: $headings-line-height-e;
  color: $headings-color-e;
  font-weight: $headings-font-weight-e;
  }
}

h5,
.h5 {
  &.elementor-heading-title {
  @include font-size($h5-font-size-e);
  line-height: $headings-line-height-e;
  color: $headings-color-e;
  font-weight: $headings-font-weight-e;
  }
}

h6,
.h6 {
  &.elementor-heading-title {
  @include font-size($h6-font-size-e);
  line-height: $headings-line-height-e;
  color: $headings-color-e;
  font-weight: $headings-font-weight-e;
  }
}

p,
span {
  &.elementor-heading-title {
  line-height: 1.5;
  }
}

.elementor-heading-title {
  line-height: 1.5;
}

.elementor-widget-text-editor {
  ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 8px;

    &:before {
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      @extend .border-primary;
      border-radius: 300px;
      top: 50%;
      left: 4px;
      transform: translate(-50%, -50%);
      }
    }

    ol {
      padding: 0;

    li {
      margin-bottom: 8px;
      margin-left: 15px;

      &::marker {
        @extend .color-primary;
      }
    }
  }
}

.elementor-widget-text-editor{
  img{
    margin: 0 15px 10px 0;
  }
}

.elementor-button-wrapper{
.elementor-button{
    @extend .bg-primary;
    @extend .btn-md;
  }
}